:root
{
    --mainWhite:#f2fdff;
    --mainBlue:#3e92cc;

}
.max-height
{
    min-height:100vh;
}
body
{
    background: var(mainWhite);
}
.img-container
{
     margin:50px 50px;
    min-height:60vh;
    background: url("../images/slider1.jpeg") center/cover fixed no-repeat;
    border:0.5rem solid var(--mainBlue);
    border-radius:0.5rem ;
    position: relative;
}
@media screen and(min-width:768px)
{
.img-container
{
    min-height: 80vh;
}
}
.btn-left
{
    position: absolute;
    top:50%;
    left:0;
    background: var(--mainBlue);
    color:var(--mainWhite) !important;
    transform: translate(-50%,-50%);
    border:0.2rem solid var(-50%,-50%);
    font-size: 0.2rem;
}
.btn-left:hover
{
    border-color:var(--mainBlue);
    background: var(--mainWhite);
    color:  var(--mainBlue);
}
.btn-right
{
    position: absolute;
    top:50%;
    right:0;
    font-size: 0.2rem;
    background: var(--mainBlue);
    color:var(--mainWhite) !important;
    border:0.2rem solid var(-50%,-50%);
    transform: translate(50%,-50%);

}
.btn-right:hover
{
    border-color:var(--mainBlue);
    background: var(--mainWhite);
    color:  var(--mainBlue);
}

